.about-us {
  padding-top: 45px;
  padding-bottom: 90px;
}

.about-us__img {
  padding-top: 35px;
  padding-left: 10px;
}

.about-us__wrap {
  width: calc(100% - 660px);
  min-width: 1000px;
  display: flex;
  margin: 0 auto;
}

.about-us h2 {
  margin-bottom: 0;
  margin-top: 20px;
  font-family: $font-roboto--condensed;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 51px;
}

.about-us p {
  margin-top: 20px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
}

.about-us__a {
  display: block;
  width: 180px;
  height: 30px;
  border-radius: 5px;
  margin-top: 40px;
  padding-top: 15px;
  border: 1px $color-element solid;
  color: $color-element;
  font-family: $font-roboto--condensed;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.about-us__description {
  width: 984px;
}

@media (max-width: $tablet-width) {
  .about-us {
    padding-top: 20px;
  }

  .about-us__span {
    display: none;
  }

  .about-us__description {
    width: 532px;
  }

  .about-us__wrap {
    min-width: 0;
    width: 720px;
  }

  .about-us__img {
    padding-left: 0;
  }
}

@media (max-width: $mobile-width) {
  .about-us__description {
    width: 288px;
  }

  .about-us__wrap {
    width: 290px;
  }

  .about-us__img {
    display: none;
  }
}
