.about-us {
  padding-top: 75px;
  padding-bottom: 90px;
}

.about-us__img {
  padding-top: 35px;
  padding-left: 10px;
}

.about-us__wrap {
  width: calc(100% - 660px);
  min-width: 960px;
  display: flex;
  margin: 0 auto;
}

.about-us h2 {
  margin-bottom: 0;
  margin-top: 20px;
  font-family: $font-roboto--condensed;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 51px;
}

.about-us p {
  margin-top: 20px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
}

.about-us__a {
  display: block;
  width: 180px;
  height: 30px;
  border-radius: 5px;
  margin-top: 40px;
  padding-top: 15px;
  border: 1px $color-element solid;
  color: $color-element;
  font-family: $font-roboto--condensed;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.about-us__description {
  width: 984px;
}

@media (max-width: $tablet-width) {
  .about-us {
    padding-top: 20px;
    padding-bottom: 70px;
  }

  .about-us__span {
    display: none;
  }

  .about-us__description {
    width: 532px;
  }

  .about-us__wrap {
    min-width: 0;
    width: 740px;
  }

  .about-us__img {
    width: 200px;
    overflow: hidden;
    padding-left: 0;
    padding-top: 20px;
    position: relative;
    right: 10px;
  }
}

@media (max-width: $mobile-width) {
  .about-us {
    padding-bottom: 60px;
  }

  .about-us__description {
    width: calc(100% - 60px);
    min-width: 295px;
    margin: 0 auto;
  }

  .about-us__wrap {
    width: calc(100% - 60px);
    min-width: 295px;
    margin: 0 auto;
  }

  .about-us__img {
    display: none;
  }

  .about-us h2 {
    margin-top: 18px;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 39px;
  }

  .about-us__p {
    margin-bottom: 40px;
  }

  .about-us__a {
    margin-top: 30px;
  }
}
