.advantages {
  position: relative;
  padding-top: 103px;
  color: $color-font--main;
  scroll-behavior: smooth;
}

.advantages__br {
  display: none;
}

.advantages__head {
  margin-top: 50px;
  margin-bottom: 0;
  color: $color-element;
  font-family: $font-roboto--condensed;
  font-weight: normal;
  font-size: 24px;
  line-height: 34px;
}

.advantages__list {
  width: calc(100% - 750px);
  min-width: 960px;
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.advantages__item {
  width: calc(100% / 2 - 30px);
  padding: 45px;
  background-color: $color-font;
  cursor: pointer;
  margin-bottom: 35px;
  position: relative;
  box-sizing: border-box;
  border: 1px $color-border solid;
  border-left: 2px $color-element solid;
}

.advantages__item::before {
  content: "";
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  top: 40px;
}

.advantages__item::after {
  content: "";
  position: absolute;
  background-repeat: no-repeat;
  z-index: -1;
}

.advantages__item--hired::before {
  width: 35px;
  height: 35px;
  background-image: url("../img/hired.svg");
}

.advantages__item--hired::after {
  width: 650px;
  height: 650px;
  background-image: url("../img/triangle-right.svg");
  background-size: cover;
  top: 90px;
  left: -550px;
}

.advantages__item--time::before {
  width: 29px;
  height: 35px;
  background-image: url("../img/stopwatch.svg");
}

.advantages__item--time::after {
  width: 300px;
  height: 300px;
  background-image: url("../img/triangle-left.svg");
  background-size: cover;
  top: -60px;
  left: -160px;
}

.advantages__item--detective::before {
  width: 36px;
  height: 31px;
  background-image: url("../img/detective.svg");
}

.advantages__item--detective::after {
  width: 650px;
  height: 650px;
  background-image: url("../img/triangle-left.svg");
  background-size: cover;
  left: -550px;
}

.advantages__item--person::before {
  width: 35px;
  height: 35px;
  background-image: url("../img/tag.svg");
}

.advantages__list::after {
  width: 300px;
  height: 300px;
  background-image: url("../img/triangle-right.svg");
  background-size: cover;
  top: 0;
  right: -320px;
}

.advantages__description {
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
}

.advantages__item:hover {
  border: none;
  background-color: $color-element;
  color: $color-font;

  .advantages__head {
    color: $color-font;
  }
}

.advantages__item--person:hover::before {
  width: 35px;
  height: 35px;
  background-image: url("../img/tag-hover.svg");
}

.advantages__item--detective:hover::before {
  width: 36px;
  height: 31px;
  background-image: url("../img/detective-hover.svg");
}

.advantages__item--time:hover::before {
  width: 29px;
  height: 35px;
  background-image: url("../img/stopwatch-hover.svg");
}

.advantages__item--hired:hover::before {
  width: 35px;
  height: 35px;
  background-image: url("../img/hired-hover.svg");
}

@media (max-width: $tablet-width) {
  .advantages {
    padding-top: 50px;
  }

  .advantages__list {
    min-width: 0px;
    width: 720px;
  }

  .advantages__item {
    width: 348px;
    height: auto;
    margin-bottom: 15px;
    padding-left: 28px;
    padding-right: 20px;
    padding-top: 15px;
    padding-bottom: 12px;
  }

  .advantages__item::before {
    top: 30px;
  }

  .advantages__head {
    font-style: normal;
    font-weight: normal;
    font-size: 23px;
    line-height: 34px;
  }

  .advantages__description {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
  }
}

@media (max-width: $mobile-width) {
  .advantages {
    padding-top: 40px;
  }

  .advantages__br {
    display: block;
  }

  .advantages__head {
    font-size: 20px;
    line-height: 140.62%;
  }

  .advantages__list {
    width: calc(100% - 60px);
    min-width: 288px;
    flex-direction: column;
  }

  .advantages__item {
    width: calc(100% - 60px);
    min-width: 288px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 10px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 19px;
  }

  .advantages__item::before {
    top: 17px;
  }

  .advantages__description {
    width: calc(100% - 20px);
    min-width: 255px;
    margin-top: 5px;
  }

  .advantages__item--hired::before {
    width: 32px;
    height: 32px;
  }

  .advantages__item--time::before {
    width: 30px;
    height: 36px;
  }

  .advantages__item--person::before {
    width: 32px;
    height: 32px;
  }

  .advantages__item--detective::before {
    width: 30px;
    height: 26px;
    top: 25px;
  }

  .advantages__item--detective .advantages__head {
    margin-top: 45px;
  }

  .advantages__item--detective {
    padding-bottom: 25px;
  }

  .advantages__item--person::before {
    top: 25px;
  }

  .advantages__item--person .advantages__description {
    margin-top: 10px;
  }

}
