.entry {
  width: 100%;
  max-width: 1590px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  color: $color-font;
}

.entry__description {
  padding-left: 90px;
  position: relative;
}

.entry__picture {
  z-index: 4;
}

.entry__picture-wrap {
  position: relative;
}

.entry__description::before {
  content: "";
  position: absolute;
  width: 705px;
  height: 715px;
  background-image: url("../img/triangles.svg");
  background-size: cover;
  z-index: 1;
  bottom: 10px;
  right: -650px;
}

.entry__head {
  width: 738px;
  margin-top: 50px;
  margin-bottom: 0;
  font-family: $font-roboto--condensed;
  font-weight: bold;
  font-size: 80px;
  line-height: 94px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.entry__p {
  width: 609px;
  position: relative;
  margin-top: 30px;
  margin-left: 98px;
  margin-bottom: 35px;
  font-family: $font-mono;
  font-weight: normal;
  font-size: 22px;
  line-height: 34px;
}

.entry__p::before {
  content: "";
  width: 66px;
  height: 2px;
  position: absolute;
  background-color: $color-font;
  top: 15px;
  left: -93px;
}

.entry__button {
  width: 350px;
  color: $color-font;
  padding-left: 28px;
  padding-right: 28px;
  padding-top: 21px;
  padding-bottom: 21px;
  margin-left: 98px;
  display: block;
  border-radius: 5px;
  background-color: $color-element;
  font-family: $font-roboto--condensed;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.entry__button--mobile {
  display: none;
}

.entry__scroll {
  width: 93px;
  text-decoration: none;
  color: $color-scroll;
  border: none;
  display: block;
  position: relative;
  top: 130px;
  right: 30px;
  transform: rotate(-90deg);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
}

@media (max-width: $tablet-width) {
  .entry {
    width: calc(100% - 20px);
    padding-left: 20px;
    padding-top: 40px;
  }

  .entry__description {
    padding-left: 20px;
  }

  .entry__picture-wrap {
    left: -20px;
    bottom: 15px;
    z-index: 66;
  }

  .entry__description::before {
    top: -160px;
    z-index: 65;
  }

  .entry__scroll {
    display: none;
  }

  .entry__head {
    width: 400px;
    margin-left: 45px;
    margin-top: 60px;
    font-weight: bold;
    font-size: 60px;
    line-height: 70px;
    letter-spacing: 0.07em;
    text-transform: uppercase;
  }

  .entry__p {
    width: 356px;
    margin-left: 100px;
    margin-bottom: 45px;
    margin-top: 30px;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
  }

  .entry__p::before {
    width: 33px;
    top: 10px;
    left: -50px;
  }

  .entry__button {
    width: 320px;
    margin-left: 100px;
    margin-bottom: 60px;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
  }
}

@media (max-width: $mobile-width) {
  .entry {
    position: relative;
    width: 300px;
    flex-direction: column-reverse;
  }

  .entry__picture-wrap {
    margin-bottom: 320px;
  }

  .entry__head {
    width: 277px;
    margin-left: 0;
    font-weight: bold;
    font-size: 40px;
    line-height: 47px;
  }

  .entry__p {
    width: 235px;
    margin-top: 20px;
    margin-left: 0;
    padding-left: 50px;
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
  }

  .entry__p::before {
    left: 0;
  }

  .entry__button--mobile {
    display: block;
    width: 230px;
    margin-left: 0;
  }

  .entry__button--desk {
    display: none;
  }

  .entry__description {
    width: 300px;
    margin: 0 auto;
    position: absolute;
    z-index: 999;
    top: 115px;
    right: 20px;
  }

  .entry__description::before {
    width: 300px;
    width: 300px;
    top: -280px;
    z-index: 65;
    left: 100px;
  }

}
