.entry {
  display: flex;
  justify-content: space-between;
  background-color: $color-back;
  color: $color-font;
}

.entry__head {
  margin-top: 0;
  font-family: $font-roboto--condensed;
  font-weight: bold;
  font-size: 80px;
  line-height: 94px;
  letter-spacing: 0.07em;
  text-transform: uppercase;
}

.entry__p {
  font-family: $font-mono;
  font-weight: normal;
  font-size: 22px;
  line-height: 34px;
}

.entry__button {
  display: block;
  background-color: $color-element;
  width: 409px;
  font-family: $font-roboto--condensed;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.entry__scroll {
  width: 93px;
  display: block;
  opacity: 0.5;
  transform: rotate(-90deg);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
}

@media (max-width: $tablet-width) {
  .entry__head {
    font-weight: bold;
    font-size: 60px;
    line-height: 70px;
    letter-spacing: 0.07em;
    text-transform: uppercase;
  }

  .entry__p {
    font-weight: normal;
    font-size: 18px;
    line-height: 28px
  }
}

@media (max-width: $mobile-width) {
  .entry__head {
    font-weight: bold;
    font-size: 40px;
    line-height: 47px;
  }

  .entry__p {
    font-weight: normal;
    font-size: 16px;
    line-height: 25px
  }
}
