.footer {
  margin-bottom: 0;
}

.footer__head-button {
  display: none;
}

.footer__back {
  width: calc(100% - 20px);
  max-width: 1400px;
  margin: 0 auto;
  justify-content: space-between;
  padding-bottom: 10px;
  border-top: 1px solid $color-border;
  opacity: 0.5;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  opacity: 0.5;
}

.footer__logo-p {
  display: none;
}

.footer__nav-wrap {
  width: 430px;
  display: flex;
  justify-content: space-between;
}

.footer__condition {
  padding-left: 0;
  display: flex;
  justify-content: space-between;
}

.footer__condition-wrap {
  display: flex;
}

.footer__condition-save {
  margin-right: 59px;
}

.footer__condition-confident {
  margin-left: 142px;
}

.footer__main {
  width: calc(100% - 20px);
  max-width: 1400px;
  margin: 0 auto;
  margin-bottom: 40px;
  padding-top: 65px;
  display: flex;
  justify-content: space-between;
}

.footer__contacts-ul {
  padding-left: 0;
  opacity: 0.5;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 25px;
}

.footer__nav-ul {
  padding-left: 0;
  opacity: 0.5;
  font-weight: normal;
  font-size: 15px;
  line-height: 26px;
  letter-spacing: 0.03em;
}

.footer__social {
  width: 110px;
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  padding: 0;
}

.footer__nav-a {
  color: $color-back;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 25px;
}

.footer__head {
  margin-top: 0;
  margin-bottom: 5px;
  font-family: $font-roboto--condensed;
  font-weight: normal;
  font-size: 15px;
  line-height: 16px;
  align-items: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.footer__logo {
  width: 216px;
  display: flex;
}

.footer__p1 {
  margin-bottom: 0;
  margin-top: 0;
  font-family: $font-roboto--condensed;
  font-weight: bold;
  font-size: 25px;
  line-height: 29px;
}

.footer__p2 {
  margin-top: 5px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
}

.footer__back li {
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  align-items: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}

.footer__logo-name {
  margin-left: 10px;
}

.footer__container {
  width: calc(100% - 420px);
  min-width: 780px;
  display: flex;
  justify-content: space-between;
  opacity: 0.5;
}

@media (max-width: $tablet-width) {
  .footer__condition-save {
    display: none;
  }

  .footer__condition-service {
    display: none;
  }

  .footer__logo {
    padding-top: 25px;
  }

  .footer__logo-p {
    margin-top: 0;
    padding-top: 15px;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 24px;
    display: flex;
    align-items: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    opacity: 0.5;
  }

  .footer__main {
    min-width: 0;
    width: 100%;
    flex-direction: column;
    padding-top: 5px;
  }

  .footer__social {
    margin-top: 30px;
  }

  .footer__social-wrap {
    display: flex;
    width: 718px;
    padding-bottom: 10px;
    padding-left: 25px;
    padding-right: 25px;
    margin: 0 auto;
    border-bottom: 1px solid $color-border;
    opacity: 0.5;
    justify-content: space-between;
  }

  .footer__nav-wrap {
    width: 300px;
    flex-direction: column;
  }

  .footer__container {
    min-width: 0;
    width: 730px;
    margin: 0 auto;
    padding-top: 40px;

  }

  .footer__nav-a {
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 25px;
  }

  .footer__nav-ul {
    margin-bottom: 0;
    margin-top: 0;
  }

  .footer__condition-confident {
    margin-left: 0;
  }

  .footer__back {
    width: 714px;
  }
}

@media (max-width: $mobile-width) {
  .footer__social-wrap {
    padding-bottom: 30px;
    flex-direction: column;
    align-items: center;
    width: 250px;
  }

  .footer__nav {
    width: 300px;
  }

  .footer__container {
    padding-top: 30px;
    padding-left: 0;
    flex-direction: column;
    align-items: center;
    width: 310px;
  }

  .footer__contacts {
    padding-top: 28px;
    border-top: 1px solid $color-border;
  }

  .footer__condition {
    width: 310px;
    padding-left: 0;
    flex-direction: column;
    align-items: center;
  }

  .footer__head-button {
    display: block;
    width: 17px;
    height: 17px;
    border: none;
    background-color: $color-font;
    background-image: url("../img/plus.svg");
  }

  .footer__head-button--close {
    display: block;
    width: 17px;
    height: 17px;
    border: none;
    background-color: $color-font;
    background-image: none;
    border-top: 2px solid $color-border;
  }

  .footer__head-wrap {
    width: 300px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 28px;
  }

  .footer__head-wrap--close {
    border-bottom: 1px solid $color-border;
  }

  .footer__close {
    display: none;
  }

  .footer__open {
    display: block;
  }

  .footer__back {
    width: 300px;
  }

  .footer__main {
    padding-top: 20px;
    margin-bottom: 0px;
  }

  .footer__social {
    margin-top: 20px;
  }
}
