.header {
  background-color: $color-back;
  color: $color-font;
}

.header__modal {
background-color: $color-element;
}

.header-logo__name {
  font-family: $font-roboto--condensed;
}

.header__button {
  font-family: $font-roboto--condensed;
}
