.services {
  padding-top: 85px;
  padding-bottom: 110px;
  background-color: $color-back;
  color: $color-font;
  scroll-behavior: smooth;
}

.services__ul {
  padding: 0;
  margin-top: 45px;
  margin-bottom: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.services__li {
  position: relative;
  margin-bottom: 17px;
  width: calc(100% / 3 - 60px);
  overflow: hidden;
}

.services__a {
  position: relative;
  display: block;
  width: 370px;
  height: 620px;
  opacity: 0.2;
  color: $color-font;
  font-family: $font-roboto--condensed;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.services__li::after {
  content: "";
  position: absolute;
  z-index: 2;
  width: 63px;
  height: 63px;
  right: 0;
  bottom: 0;
  background-color: $color-element;
  background-image: url("../img/tir.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.services__p {
  margin: 0;
  font-family: $font-roboto--condensed;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 51px;
}

.services__head {
  width: 190px;
  top: 40px;
  left: 44px;
  position: absolute;
}

.services__wrap {
  width: calc(100% - 750px);
  min-width: 960px;
  margin: 0 auto;
}

@media (max-width: $tablet-width) {
  .services {
    padding-top: 53px;
    padding-bottom: 30px;
  }

  .services__wrap {
    min-width: 0;
    width: 720px;
  }

  .services__p {
    padding-right: 100px;
    font-weight: normal;
    font-size: 32px;
    line-height: 45px;
  }

  .services__ul {
    flex-direction: column;
  }

  .services__a {
    width: 715px;
    height: 256px;
  }

  .services__li {
    width: 715px;
    margin-bottom: 46px;
  }
}

@media (max-width: $mobile-width) {
  .services {
    padding-bottom: 35px;
    padding-top: 45px;
  }

  .services__wrap {
    width: 310px;
  }

  .services__p {
    padding-left: 0;
    width: 280px;
    margin: 0 auto;
    padding-right: 10px;
    font-weight: normal;
    font-size: 28px;
    line-height: 39px;
  }

  .services__a {
    width: 290px;
    height: 256px;
  }

  .services__li {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
  }

  .services__head {
    font-family: $font-roboto--condensed;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    top: 0;
  }
}
