$color-back: #1b2d37;
$color-font: #ffffff;
$color-element: #00b2ff;
$color-input: #19baff;
$color-font--main: #666666;
$color-border: #ebebeb;
$color-text: #788891;
$color-decor:  #626962;
$font-mono: "PT Mono", "Arial", sans-serif;
$font-roboto--condensed: "Roboto Condensed", "Arial", sans-serif;
$tablet-width: 1023px;
$mobile-width: 767px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

